<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container-fluid">
    <img src="../../../../../assets/imageProfile/logoMaliTourism.png" class="navbar-brand" width="80px" href="#">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon bg-light"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" aria-current="page" routerLinkActive="active"
            routerLink="accueil"><span>Accueil</span></a>
        </li>

        <li class="nav-item" *ngIf="showAdminBoard">
          <a class="nav-link" routerLink="dashbord" routerLinkActive="active"><span>Dashbord</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="lieuTouristique" routerLinkActive="active"><span>Lieux Touristiques</span></a>
        </li>
      </ul>
      <form class="d-flex" role="search">

        <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal" type="submit">
          <img src="../../assets/images/logodeconnexion.png" width="25px" alt="" srcset=""> Deconnexion</button>
      </form>
    </div>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div> -->
      <div class="modal-body">
        <p>Êtes vous sur de vouloirs vous déconnecter</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal">Non</button>
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" (click)="logout()">Oui</button>
      </div>
    </div>
  </div>
</div>