.navbar {
    background-color: #3F2D1F !important;
    background: #3F2D1F;
    border: 1px solid #3F2D1F;
    box-shadow: inset 0px 0px 100px 170px rgba(0, 0, 0, 0.4);
}

.nav-item {
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid #3F2D1F;
    box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.25);
    margin-left: 5px !important;
    padding: 2px;
}

.nav-link {
    color: white !important;
}

.btn-outline-success {
    border-radius: 24px !important;
    color: white !important;
    border-color: red !important;
    background-color: red;
}

.btn-outline-success:hover {
    background-color: inherit !important;
}