<!--MENU SECONDAIRE DANS LE DASHBORD-->

<ul class="nav row nav-pills mt-3 mb-2 d-flex justify-content-end" id="pills-tab" role="tablist">
    <li class="nav-item col-md-2" role="presentation">
        <button class="nav-link active text-center" id="pills-home-tab" data-bs-toggle="pill"
            data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Liste
            Régions</button>
    </li>
    <li class="nav-item col-md-2" role="presentation">
        <button class="nav-link text-center" id="pills-profile-tab" data-bs-toggle="pill"
            data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
            aria-selected="false">Liste Pays</button>
    </li>
    <li class="nav-item col-md-2" role="presentation">
        <button class="nav-link text-center" id="pills-contact-tab" data-bs-toggle="pill"
            data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
            aria-selected="false">Liste lieux
            Touristiques</button>
    </li>
</ul>
<div class="row">
    <div class="col-md-3">
        <div class="row gx-3">
            <div></div>
            <div class="col-md-2"></div>
            <div class="col-md-10 Statistique position-relative text-center">
                <div class="circle position-absolute top-0 start-50 translate-middle"></div>
                <span class="textStatique">Superficie Totale</span>
                <br>
                <span class="valeur">1 241 238 km2</span>
            </div>

            <div class="col-md-2"></div>
            <div class="col-md-10 Statistique position-relative text-center">
                <div class="circle position-absolute top-0 start-50 translate-middle"></div>
                <span class="textStatique">
                    Population totale en 20221
                </span>
                <br>
                <span class="valeur">
                    21 473 764 hab
                </span>
            </div>

            <div class="col-md-2"></div>
            <div class="col-md-10 Statistique position-relative text-center">
                <div class="circle position-absolute top-0 start-50 translate-middle"></div>
                <span class="textStatique">
                    Densité
                </span>
                <br>
                <span class="valeur">
                    17 hab./km2
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="tab-content" id="pills-tabContent">

            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
                tabindex="0">

                <div class="container">
                    <div class="row">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                            <button class="addbtn " type="button" data-bs-toggle="modal" data-bs-target="#AjoutRegion">
                                <img src="../../assets/images/iconadd.png" alt="" srcset="">
                                Ajouter Région</button>
                        </div>
                        <div class="col-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">Image</th>
                                        <th scope="col">Nom Région</th>
                                        <th scope="col">Superficie Région</th>

                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let region of region">
                                        <td> <img src={{region.image}} class="img" alt="imageRegion" srcset=""> </td>
                                        <th scope="row"> {{region.nom}} </th>
                                        <td> {{region.superficie}} </td>

                                        <td class="row">
                                            <!-- <button type="button" class="btn col-md-4"><img
                                                    src="../../assets/images/Frame 8.png" width="30px" alt="logo1"
                                                    srcset=""></button>
                                            <button type="button" class="btn col-md-4"><img
                                                    src="../../assets/images/Frame 9.png" width="30px" alt="logo2"
                                                    srcset=""></button> -->
                                            <!-- <button (click)="suprimerRegion(region.id)" type="submit"
                                                class="btn col-md-4"><img src="../../assets/images/Frame 10.png"
                                                    width="30px" alt="logo3" srcset=""></button> -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"
                tabindex="0">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
                    tabindex="0">
                    <div class="container">
                        <div class="row">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                                <button class="addbtn " type="button" data-bs-toggle="modal"
                                    data-bs-target="#AjoutPays">
                                    <img src="../../assets/images/iconadd.png" alt="" srcset="">
                                    Ajouter Pays</button>
                            </div>
                            <div class="col-12">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col"> Image </th>
                                            <th scope="col">Nom Pays</th>
                                            <th scope="col">Superficie Pays</th>

                                            <th scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let pay of pays">
                                            <td> <img src={{pay.image}} class="img" alt="imageRegion" srcset=""> </td>
                                            <th scope="row">{{pay.nom}}</th>
                                            <td> {{pay.superficie}} </td>

                                            <td class="row">
                                                <!-- <button type="button" class="btn col-md-4"><img
                                                        src="../../assets/images/Frame 8.png" width="30px" alt="logo1"
                                                        srcset=""></button>-->
                                                <button data-bs-toggle="modal" data-bs-target="#modifierP" type="button"
                                                    class="btn col-md-4" (click)="getPaysById(pay.nom)"><img
                                                        src="../../assets/images/Frame 9.png" width="30px" alt="logo2"
                                                        srcset=""></button>
                                                <!-- <button type="button" class="btn col-md-4"><img
                                                        src="../../assets/images/Frame 10.png" width="30px" alt="logo3"
                                                        srcset=""></button> -->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab"
                tabindex="0">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
                    tabindex="0">
                    <div class="container">
                        <div class="row">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                                <button class="addbtn " type="button" data-bs-toggle="modal"
                                    data-bs-target="#AjoutLieuxTouristiques">
                                    <img src="../../assets/images/iconadd.png" alt="" srcset="">
                                    Ajouter Lieux Touristiques</button>
                            </div>
                            <div class="col-12">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">Image</th>
                                            <th scope="col">Nom Lieux Touristiques</th>
                                            <th scope="col">Nom Région</th>

                                            <th scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let lieu of lieux">
                                            <td> <img src={{lieu.image}} class="img" alt="imageRegion"> </td>
                                            <th scope="row">{{lieu.nom}}</th>
                                            <td>{{lieu.idRegion.nom}}</td>

                                            <td class="row">
                                                <!-- <button type="button" class="btn col-md-4"><img
                                                        src="../../assets/images/Frame 8.png" width="30px" alt="logo1"
                                                        srcset=""></button>
                                                <button type="button" class="btn col-md-4"><img
                                                        src="../../assets/images/Frame 9.png" width="30px" alt="logo2"
                                                        srcset=""></button> -->
                                                <!-- <button type="button" class="btn col-md-4"><img
                                                        src="../../assets/images/Frame 10.png" width="30px" alt="logo3"
                                                        srcset=""></button> -->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!--FORMULAIRE D'AJOUT DES REGIONS-->
<div class="">

</div>
<div class="modal fade " id="AjoutRegion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">

        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Menu Ajouter Region</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div *ngIf="isTrueR" class="alert alert-success text-center" role="alert">
                    Region ajouter avec success !!
                </div>
                <div *ngIf="isNoTrueR" class="alert alert-danger text-center" role="alert">
                    Erreur lors de l'ajout
                </div>
                <form class="row g-3 needs-validation container" novalidate>
                    <div class="col-md-6 my-3">
                        <label for="codeRegion" class="form-label">Code Région</label>
                        <input type="number" class="form-control" id="codeRegion" name="codeRegion"
                            [(ngModel)]="codeRegion" required>
                        <div class="invalid-feedback">
                            Veuillez saisir le code region
                        </div>
                    </div>

                    <div class="col-md-6 my-3">
                        <label for="nomRegion" class="form-label">Nom Région</label>
                        <input type="text" class="form-control" id="nomRegion" name="nomRegion" [(ngModel)]="nomRegion"
                            required>
                        <div class="invalid-feedback">
                            Veuillez saisir le nom de la region
                        </div>
                    </div>
                    <div class="col-md-6 my-3">
                        <label for="domaineActivite" class="form-label">Domaine activité</label>
                        <input type="text" class="form-control" id="domaineActivite" name="domaineActivite"
                            [(ngModel)]="domaineActivite" required>
                        <div class="invalid-feedback">
                            Veuillez saisir le domaine activité
                        </div>
                    </div>
                    <div class="col-md-6 my-3">
                        <label for="superficieRegion" class="form-label">Superficie</label>
                        <input type="text" class="form-control" id="superficieRegion" name="superficieRegion"
                            [(ngModel)]="superficieRegion" required>
                        <div class="invalid-feedback">
                            Veuillez saisir la superficie
                        </div>
                    </div>

                    <div class="col-md-6 my-3">
                        <label for="langue" class="form-label">Langue majoritaire</label>
                        <input type="text" class="form-control" id="langue" name="langue" [(ngModel)]="langue" required>
                        <div class="invalid-feedback">
                            Veuillez saisir la langue majoritaire
                        </div>
                    </div>
                    <div class="col-md-6 my-3">
                        <label for="NomPaysRegion" class="form-label">Nom Pays</label>
                        <select class="form-select" id="NomPaysReions" name="NomPaysReions" *ngFor="let pay of pays"
                            required [(ngModel)]="NomPaysReions">
                            <option selected disabled value="">Choose...</option>
                            <option value="{{pay.nom}}"> {{pay.nom}} </option>
                        </select>
                        <div class="invalid-feedback">
                            Veuillez selectionner le nom du pays
                        </div>
                    </div>
                    <div class="col-md-12 my-3">
                        <label for="imageRegion" class="form-label">Image pays</label>
                        <input class="form-control" (change)="recuperationImageRegion($event)" type="file"
                            id="imageRegion" multiple required />
                        <div class="invalid-feedback">
                            Veuillez selectionner l'image
                        </div>
                    </div>
                    <div class="col-md-12 my-3">
                        <label for="descriptionregion" class="form-label">Description</label>
                        <textarea class="form-control" id="descriptionregion" name="descriptionregion"
                            [(ngModel)]="descriptionregion" rows="3" required></textarea>
                        <div class="invalid-feedback">
                            Veuillez saisir la description
                        </div>
                    </div>

                    <div class="d-grid gap-2">
                        <button class="btn btn-outline-warning p-1" type="button"
                            (click)="ajouterRegion()">Inscrire</button>
                    </div>

                </form>
            </div>

        </div>

    </div>

</div>


<!--FORMULAIRE D'AJOUT DES PAYS-->
<div class="modal fade" id="AjoutPays" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg modal-dialog-centered">

        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Menu ajouter Pays</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div *ngIf="isTrueP" class="alert alert-success text-center" role="alert">
                    Pays ajouter avec success !!
                </div>
                <div *ngIf="isNoTrueP" class="alert alert-danger text-center" role="alert">
                    Erreur lors de l'ajout
                </div>
                <form class="row g-3 needs-validation container" novalidate>
                    <div class="col-md-6 my-3">
                        <label for="nomPays" class="form-label">Nom Pays</label>
                        <input type="text" class="form-control" id="nomPays" name="nomPays" [(ngModel)]="nomPays"
                            required>
                        <div class="invalid-feedback">
                            Veuillez saisir le nom du Pays
                        </div>
                    </div>
                    <div class="col-md-6 my-3">
                        <label for="superfiepays" class="form-label">Superficie</label>
                        <input type="text" class="form-control" id="superfiepays" name="superfiepays"
                            [(ngModel)]="superfiepays" required>
                        <div class="invalid-feedback">
                            Veuillez saisir la superficie
                        </div>
                    </div>
                    <div class="col-md-6 my-3">
                        <label for="densitepays" class="form-label">Densité</label>
                        <input type="text" class="form-control" id="densitepays" name="densitepays"
                            [(ngModel)]="densitepays" required>
                        <div class="invalid-feedback">
                            Veuillez saisir la densité
                        </div>
                    </div>
                    <div class="col-md-6 my-3">
                        <label for="imagePays" class="form-label">Image pays</label>
                        <input class="form-control" (change)="recuperationImagePays($event)" type="file" id="imagePays"
                            multiple required />
                        <div class="invalid-feedback">
                            Veuillez selectionner l'image
                        </div>
                    </div>
                    <div class="col-md-12 my-3">
                        <label for="descriptionpays" class="form-label">Description pays</label>
                        <textarea class="form-control" id="descriptionpays" name="descriptionpays"
                            [(ngModel)]="descriptionpays" rows="3" required></textarea>
                        <div class="invalid-feedback">
                            Veuillez saisir la description
                        </div>
                    </div>


                    <div class="d-grid gap-2">
                        <button class="btn btn-outline-warning p-1" (click)="ajouterPays()">Enregistrer</button>
                    </div>

                </form>
            </div>

        </div>

    </div>

</div>

<!--FORMULAIRE D'AJOUT DES Lieux Touristique -->
<div class="modal fade" id="AjoutLieuxTouristiques" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">

    <div class="modal-dialog modal-lg modal-dialog-centered">

        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Menu ajouter Lieux Touristiques</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div *ngIf="isTrue" class="alert alert-success text-center" role="alert">
                    Lieu Touristique ajouté avec success !!
                </div>
                <div *ngIf="isNoTrue" class="alert alert-danger text-center" role="alert">
                    Erreur lors de l'ajout
                </div>
                <form class="row needs-validation container" novalidate>

                    <div class="col-md-6 my-3">
                        <label for="nomLieux" class="form-label">Nom Lieux Touristiques</label>
                        <input type="text" class="form-control" id="nomLieux" name="nomLieux" [(ngModel)]="nomLieux"
                            required>
                        <div class="invalid-feedback">
                            Veuillez saisir le nom du Lieux Touristiques
                        </div>
                    </div>

                    <div class="col-md-6 my-3">
                        <label for="nomRegionLieux" class="form-label">Nom Region</label>
                        <select class="form-select" id="nomRegionLieux" name="nomRegionLieux"
                            [(ngModel)]="nomRegionLieux" required>
                            <option selected disabled value="">Choose...</option>
                            <option *ngFor="let region of region" value="{{region.nom}}"> {{region.nom}} </option>
                        </select>
                        <div class="invalid-feedback">
                            Veuillez selectionner le nom de la Region
                        </div>
                    </div>

                    <div class="col-md-12 my-3">
                        <label for="imageLieux" class="form-label">Image Lieux Touristiques</label>
                        <input class="form-control" type="file" id="imageLieux"
                            (change)="recuperationImageLieux($event)" multiple required />
                        <div class="invalid-feedback">
                            Veuillez selectionner une image
                        </div>
                    </div>

                    <div class="col-md-12 my-3">
                        <label for="descriptionLieux" class="form-label">Description pays</label>
                        <textarea class="form-control" id="descriptionLieux" name="descriptionLieux"
                            [(ngModel)]="descriptionLieux" rows="3"></textarea>
                        <div class="invalid-feedback">
                            Veuillez saisir la description
                        </div>
                    </div>

                    <div class="d-grid gap-2">
                        <button class="btn btn-outline-warning p-1" (click)="ajouterLieux()"
                            type="button">Enregistrer</button>
                    </div>

                </form>
            </div>

        </div>

    </div>

</div>


<!--MODAL DE SUPPRESSION DE REGION-->


<div class="modal fade" id="exampleModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div> -->
            <div class="modal-body">
                <p>Êtes vous sur de vouloirs suprimer</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-warning" data-bs-dismiss="modal">Non</button>
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Oui</button>
            </div>
        </div>
    </div>
</div>


<!--FORMULAIRE DE MODIFICATION DES PAYS-->
<div class="modal fade" id="modifierP" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg modal-dialog-centered">

        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Menu modifier Region</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div *ngIf="isTrueP" class="alert alert-success text-center" role="alert">
                    Pays Modifier avec success !!
                </div>
                <!-- <div *ngIf="isNoTrueP" class="alert alert-danger text-center" role="alert">
                    Erreur lors de l'ajout
                </div> -->
                <form class="row g-3 needs-validation container" novalidate>
                    <div class="col-md-6 my-3">
                        <label for="NomPM" class="form-label">Nom Pays</label>
                        <input type="text" class="form-control" id="NomPM" name="NomPM" [(ngModel)]="NomPM" required>
                        <div class="invalid-feedback">
                            Veuillez saisir le nom du Pays
                        </div>
                    </div>
                    <div class="col-md-6 my-3">
                        <label for="superPL" class="form-label">Superficie</label>
                        <input type="text" class="form-control" id="superPL" value="test@example.com" name="superPL"
                            [(ngModel)]="superPL" required>
                        <div class="invalid-feedback">
                            Veuillez saisir la superficie
                        </div>
                    </div>
                    <div class="col-md-6 my-3">
                        <label for="densitePM" class="form-label">Densité</label>
                        <input type="text" class="form-control" id="densitePM" name="densitePM" [(ngModel)]="densitePM"
                            required>
                        <div class="invalid-feedback">
                            Veuillez saisir la densité
                        </div>
                    </div>
                    <div class="col-md-6 my-3">
                        <label for="imagePays" class="form-label">Image pays</label>
                        <input class="form-control" (change)="recuperationImagePaysM($event)" type="file" id="imagePays"
                            multiple />
                    </div>
                    <div class="col-md-12 my-3">
                        <label for="descripPM" class="form-label">Description pays</label>
                        <textarea class="form-control" id="descripPM" name="descripPM" [(ngModel)]="descripPM"
                            rows="3"></textarea>
                    </div>


                    <div class="d-grid gap-2">
                        <button class="btn btn-outline-warning p-1"
                            (click)="modifierPays(paysParNom.id)">Enregistrer</button>
                    </div>

                </form>
            </div>

        </div>

    </div>

</div>