<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-3 col-md-4 mb-md-0 p-md-4">
            <img src={{regionDetails.image}} alt="Trendy Pants and Shoes" class="img-fluid rounded-start w-100" />
        </div>
        <div class="col-md-8 p-4 ps-md-0">
            <div class="card-body">
                <h5 class="card-title text-center">{{regionDetails.nom}}</h5>
                <div class="card-text">
                    <ul>
                        <li><span class="card-text-title">Langue Majoritaire : </span>
                            {{regionDetails.languemajoritaire}} </li>
                        <li><span class="card-text-title">Domaine Activité : </span> {{regionDetails.domaineactivite}}
                        </li>
                        <li><span class="card-text-title">Superficie : </span> {{regionDetails.superficie}} </li>
                    </ul>
                </div>
                <p class="card-text">
                    {{regionDetails.description}}
                </p>
                <!-- <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </p> -->
            </div>
        </div>
    </div>
</div>



<div class="row">
    <h3 class="col-md-12 text-center my-2">Quelques Lieux Touristiques à {{regionDetails.nom}}</h3>
    <div class="col-md-3" *ngFor="let lieu of lieux">
        <div class="card lieux" [routerLink]="[URL,lieu.id]">
            <img src={{lieu.image}} class="card-img-top" alt="Sunset Over the Sea" />
            <div class="card-body">
                <h5 class="card-title">{{lieu.nom}}</h5>
                <p class="card-text text-truncate">
                    {{lieu.description }}
                </p>

            </div>
        </div>
        <!-- <ng-image-slider [images]="lieu.image" #navigation></ng-image-slider> -->
    </div>
</div>
