<div class="carre row position-absolute top-50 start-50 translate-middle">

    <div class="logoImage col-md-6 text-center">
        <div class="row">
            <div class="col-md-12 testmali">
                MaliTourist
            </div>
            <div class="col-md-12">
                <img src="../../assets/images/logoMali1.png" width="40%" alt="" srcset="">
            </div>
            <div class="col-md-12 deviseMali">
                Republique du MALI
            </div>
            <div class="col-md-12 deviseMali1">

                Un Peuple Un But Une Foi
            </div>
        </div>
    </div>
    <div class="formulaire col-md-5 ">
        <h3 class="text-center my-3">CONNEXION</h3>
        <form class="row g-3 needs-validation container" novalidate>
            <div class="col-md-12">
                <label for="nomUtilisateur" class="form-label">Nom d'utilisateur</label>
                <input type="text" class="form-control" id="nomUtilisateur" required>
                <div class="valid-feedback">
                    Veuillez saisir le nom d'utilisateur
                </div>
            </div>

            <div class="col-md-12">
                <label for="motDePasse" class="form-label">Mot de passe</label>
                <input type="password" class="form-control" id="motDePasse" required>
                <div class="valid-feedback">
                    Veuillez saisir le Mot de passe
                </div>
            </div>
            <div class="d-grid gap-2">
                <button class="btn" type="button">Connecter</button>
            </div>
            <div class="row my-2">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    Vous avez déjà un compte ? <a href="http://">
                        Inscrire
                    </a>
                </div>
            </div>
        </form>
    </div>

</div>