<div class="m-3">
    <div class="row g-3 ">
        
        
        <div class="col-md-3 " *ngFor="let region of region">
            <div class="card"  [routerLink]="[url,region.nom]" >
                <img src={{region.image}} class="card-img-top" alt="Sunset Over the Sea" />
                <div class="card-body">
                    <h5 class="card-title">{{region.nom}}</h5>
                    <p class="card-text text-truncate">
                        {{region.description}}
                    </p>
                    <div class="text-center">
                        <a [routerLink]="[url,region.nom]" class="btn btn-primary voirplux">Voir plus</a>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
</div>