<div class="ACCUEIL">
    <!--Premiere ligne concernant le carrousel-->
    <div class="carouselAccueil">

        <div id="carouselExampleCaptions" class="carousel  border border-3" data-bs-ride="false">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
                    aria-label="Slide 5"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../assets/images/image1.jpg" class="carouselImage" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Some representative placeholder content for the first slide.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../../assets/images/image2.jpg" class="carouselImage" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Second slide label</h5>
                        <p>Some representative placeholder content for the second slide.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../../assets/images/image3.jpg" class="carouselImage" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Third slide label</h5>
                        <p>Some representative placeholder content for the third slide.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../../assets/images/image4.jpg" class="carouselImage" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Third slide label</h5>
                        <p>Some representative placeholder content for the third slide.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../../assets/images/image5.jpg" class="carouselImage" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Third slide label</h5>
                        <p>Some representative placeholder content for the third slide.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>

            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>

            </button>
        </div>
    </div>

    <!--PREMIERE D'DESCRIPTION DANS LA PAGE D'ACCUEIL-->

    <div class="row mt-3">
        <div class="col-md-7 contentStyle">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore soluta nesciunt sed excepturi dignissimos
            neque, atque autem inventore aspernatur quo recusandae? Obcaecati incidunt odit, voluptatibus asperiores
            voluptate beatae autem deserunt?
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore soluta nesciunt sed excepturi dignissimos
            neque, atque autem inventore aspernatur quo recusandae? Obcaecati incidunt odit, voluptatibus asperiores
            voluptate beatae autem deserunt?
        </div>
        <div class="col-md-5">
            <img src="../../assets/images/sankore-mosque.jpg" width="100%" alt="" srcset="">
        </div>
    </div>



    <div class="row mt-3">
        <div class="col-md-5">
            <img src="../../assets/images/Mali-francophone.jpg" width="100%" alt="" srcset="">
        </div>

        <div class="col-md-7 contentStyle">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore soluta nesciunt sed excepturi dignissimos
            neque, atque autem inventore aspernatur quo recusandae? Obcaecati incidunt odit, voluptatibus asperiores
            voluptate beatae autem deserunt?
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore soluta nesciunt sed excepturi dignissimos
            neque, atque autem inventore aspernatur quo recusandae? Obcaecati incidunt odit, voluptatibus asperiores
            voluptate beatae autem deserunt?
        </div>
    </div>

    <div class="CARDACCUEIL mt-3">
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 100%;">
                    <img src="../../assets/images/djeneMosque.jpg" class="card-img-top" alt="Sunset Over the Sea"/>
                    <div class="card-body">
                    <h5 class="card-title">Mosque de Djene</h5>
                      <p class="card-text">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore soluta
                            nesciunt sed excepturi dignissimos
                            neque, 
                        Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <div class="text-center">
                        <a href="#" class="btn btn-primary voirplux">Voir plus</a>
                      </div>
                    </div>
                  </div>
            </div>
            
        </div>

        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img
                  src="https://mdbcdn.b-cdn.net/wp-content/uploads/2020/06/vertical.webp"
                  alt="Trendy Pants and Shoes"
                  class="img-fluid rounded-start"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.
                  </p>
                  <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </p>
                </div>
              </div>
            </div>
          </div>

    </div>

    

</div>